
.section-introduction {
  min-height: 800px;
  background-image: url(../img/section-introduction/background.jpg);
  background-position: center;
  border-bottom-right-radius: 54px;
  border-bottom-left-radius: 54px;

  &__inner { padding-top: 262px; }
  &__header {
    margin-bottom: 32px;
    text-align: center;
    font-size: 48px;
    color: white;
  }

  &__discover-us-wrapper {
    margin-bottom: 184px;
    text-align: center;
  }
}

.search-form {
  display: flex;
  gap: 20px;
  align-items: stretch;
  max-width: 1140px;
  margin: 0 auto;
  padding: 8px;

  background-color: white;
  border-radius: 12px;

  select {
    background-color: white;
    border: none;
    padding: 0;
  }

  input[type="date"] {
    padding: 0;
    border: none;
  }
}