
.section-introduction {
  margin-bottom: 120px;

  background-image: url(../img/section-introduction/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 54px;
  border-bottom-left-radius: 54px;

  &__inner {
    padding-top: 262px;
    padding-bottom: 100px;
  }
  &__header {
    margin-bottom: 32px;
    text-align: center;
    font-size: 48px;
    color: white;
  }

  &__discover-us-wrapper {
    margin-bottom: 184px;
    text-align: center;
  }
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  
  width: 80%;
  margin: 0 auto;
  padding: 8px;

  background-color: white;
  border-radius: 12px;

  select {
    background-color: white;
    border: none;
    padding: 0;
  }

  input[type="date"] {
    padding: 0;
    border: none;
  }
}

@media (max-width: 1017px) {
  .section-introduction__discover-us-wrapper {
    margin-bottom: 50px;
  }

  .search-form {
    width: 300px;
    align-items: stretch;
    flex-direction: column;

    .button {
      display: inline-block;
      text-align: center;
    }
  }
}